Importing the dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

In [4]:
#Loading the diabetes dataset.
diabetes_dataset = pd.read_csv("/content/diabetes.csv")

In [11]:
# Help
# pd.read_csv?

In [12]:
 # Printing the first 5 rows of dataset
 diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
# number of rows and columns in this dataset
diabetes_dataset.shape

(768, 9)

In [14]:
#getting the statistical measures
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [16]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [19]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [20]:
# Separating data variables
X = diabetes_dataset.drop(columns = 'Outcome', axis=1) # Specify axis = 0 if you are dropping a row
Y = diabetes_dataset['Outcome']

In [21]:
print(X.shape, Y.shape)

(768, 8) (768,)

Data Standerization

As the range of different columns is different it is difficult for the model to make predictions

In [22]:
scaler = StandardScaler()

In [23]:
scaler.fit(X)

StandardScaler()

In [24]:
standerized_data = scaler.transform(X)

In [26]:
print(standerized_data) # All value are in range -1 to 1

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [28]:
X = standerized_data
Y = diabetes_dataset['Outcome']

Split data into training and test Data

In [29]:
X_train, X_test, Y_train,Y_test = train_test_split(X,Y,test_size = 0.2, stratify = Y , random_state = 2)

In [30]:
print(X_train.shape, X_test.shape)

(614, 8) (154, 8)

Training the model

In [31]:
classifier = svm.SVC(kernel = 'linear')

In [32]:
# training the support vector machine
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Model Evaluation

In [36]:
# Accuracy Score on training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy score of training data : ' ,training_data_accuracy)

Accuracy score of training data :  0.7866449511400652

In [38]:
# Accuracy Score on test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score of testing data : ' ,test_data_accuracy)

Accuracy score of testing data :  0.7727272727272727

Making a predictive System

In [47]:
input_data = (4,110,92,0,0,37.6,0.191,30)

# Change into numpy array
input_data_as_numpy_array = np.asarray(input_data)

# print(input_data_as_numpy_array.shape)

# Reshape the array
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1) 

# print(input_data_reshaped.shape)

# Standerised data
std_data = scaler.transform(input_data_reshaped)
# print(std_data)

prediction = classifier.predict(std_data)

if prediction[0] == 0:
  print("Non diabetic")
else:
  print("Diabetic")

Non diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"